{% extends 'base.html' %}

{% block content %}
<h1>Add Cargo</h1>
</br>
<form class="row g-3" action = "" method = POST >
    {%csrf_token%}
    <div class="col-md-11">
      <label for="inputEmail4" class="form-label">Shipment Number</label>
      {{form.shipment}}
    </div>
    <div class="col-md-1">
        <label for="inputEmail4" class="form-label">State</label>
        {{form.state}}
      </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Pickup Date</label>
        {{form.pickup_date}}
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Delivery Date</label>
        {{form.delivery_date}}
      </div>
    <div class="col-md-4">
      <label for="inputPassword4" class="form-label">Truck Name</label>
      {{form.truck}}
    </div>
    <div class="col-md-4">
        <label for="inputPassword4" class="form-label">Driver Settlement</label>
        {{form.driver_settlement}}
      </div>
      <div class="col-md-4">
        <label for="inputPassword4" class="form-label">Fedex Settlement</label>
        {{form.fedex_settlement}}
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Driver 1</label>
        {{form1.dri}}
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Percentage Driver 1</label>
        {{form1.percentage}}
      </div>
      <div class="col-md-6" name="dr2">
        <label for="inputPassword4" class="form-label">Driver 2</label>
        {{form2.dri}}
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Percentage Driver 2</label>
        {{form2.percentage}}
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Loaded Income</label>
        {{form.loaded_income}}
      </div>  
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Load Miles</label>
        {{form.load_miles}}
      </div>
      <div class="col-md-4">
        <label for="inputPassword4" class="form-label">Fuel Surcharge</label>
        {{form.loaded_income}}
      </div>
      <div class="col-md-4">
        <label for="inputPassword4" class="form-label">Tolls Surcharge</label>
        {{form.tolls_surcharge}}
      </div>
      <div class="col-md-4">
        <label for="inputPassword4" class="form-label">DHPU</label>
        {{form.dhpu}}
      </div>
      <div class="col-md-3">
        <label for="inputPassword4" class="form-label">Empty Income</label>
        {{form.empty_income}}
      </div>
      <div class="col-md-3">
        <label for="inputPassword4" class="form-label">T Check Advance</label>
        {{form.t_check_advance}}
      </div>
      <div class="col-md-3">
        <label for="inputPassword4" class="form-label">Traded Value</label>
        {{form.traded_value}}
      </div>
      <div class="col-md-3">
        <label for="inputPassword4" class="form-label">Detention</label>
        {{form.detention}}
      </div>
      <div class="col-md-12">
        <label for="inputPassword4" class="form-label">Description</label>
        {{form.description}}
      </div>
      <div class="col-md-4">
        <input type ="submit" value = "Submit" class="btn btn-success"></input>
        
      </div>
</form>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_driver").change(function () {
      var url = $("#cargoForm").attr("data-driver-url");  // get the url of the `load_cities` view
      var driverId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'driver': driverId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_percentage").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script> -->
</br>
</br>

{% endblock %}