{% extends 'base.html' %}

{% block content %}
<h1>Log In</h1>
</br>
<form action = "" method = POST> 
    {%csrf_token%}
    <div class="col-md-5">
        <label for="exampleInputEmail1" class="form-label">Login</label>
        <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="col-md-5">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
<br>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</br>
</br>

{% endblock %}