{% extends 'base.html'%}
{%block content%}
<h2>Cargo</h2>
</br>
<table class="table table-hover">
  <thead>
    <tr>
	  <th scope="col">Shipment</th>
      <th scope="col">Pickup Date</th>
      <th scope="col">Loaded Miles</th>
      <th scope="col">Loaded Income</th>
      <th scope="col">Fedex Settlement</th>
    </tr>
  </thead>
    <tbody>
      {%for cargo in cargoList%}
      <tr style="transform: rotate(0);">
      <th scope="row"><a href="{%url 'detail_cargo' cargo.id%}" class="stretched-link">{{cargo.shipment}}</a></th>
        <td>{{cargo.pickup_date}}</td>
        <td>{{cargo.load_miles}}</td>
        <td>{{cargo.loaded_income}}</td>
        <td>{{cargo.fedex_settlement}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {%if cargoList.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1">&laquo</a></li>
      <li class="page-item"><a class="page-link" href="?page={{cargoList.previous_page_number}}">{{cargoList.previous_page_number}}</a></li>
      {%endif%}
      <li class="page-item active"><a class="page-link" href="#">{{cargoList.number}}</a></li>
      {%if cargoList.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{cargoList.next_page_number}}">{{cargoList.next_page_number}}</a></li>
      <li class="page-item"><a class="page-link" href="?page={{cargoList.num_pages}}">&raquo</a></li>
      {%endif%}
    </ul>
    </nav>
    </br>
{%endblock%}