<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Cargo Road</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Add
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'add_cargo' %}">Cargo</a></li>
            <li><a class="dropdown-item" href="{% url 'add_truck' %}">Truck</a></li>
            <li><a class="dropdown-item" href="{% url 'add_fedex_settlement' %}">Fedex Settlement</a></li>
            <li><a class="dropdown-item" href="{% url 'add_driver' %}">Driver</a></li>
          </ul>
        </li>
        <ul class="dropdown-menu">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'add_cargo' %}">Add Cargo</a>
          </li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>

        <li class="nav-item">
          <a class="nav-link active" href="{% url 'view_cargo' %}">View Cargo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'view_drivers' %}">View Drivers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'view_trucks' %}">View Trucks</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Querties
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Miles per truck</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><a class="dropdown-item" href="{% url 'login_user' %}">Login</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>